@import "../../sass/abstracts/_variables.scss";
@import "../../sass/abstracts/mixins";
.containter {
  position: relative;
  background-color: $color-primary;
}
// NAVIGATION PANEL
.nav {
  height: 8.1rem;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  padding: 0 14.8rem;
  box-shadow: 0px 1px 21px rgba($color-secondary, 0.052);

 
}

.swiper-welcome {
  display: flex;
  overflow: hidden;
  position: relative;

  @include respond(t1000) {
    margin-top: 1.6rem;
    margin-right: 1.6rem;
    margin-left:1.6rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

// LOGOBAR CONTAINER
.swiper-logobar-container {
  margin: 0 28rem;

  @include respond(t1600) {
    margin: 0 20rem;
  }

  @include respond(t1200) {
    margin: 0 10rem;
  }

  @include respond(t1000) {
    margin: 0 3rem;
  }
}


// ADVERTISEMENTS BOX
.advertisements {
  margin: 0 3.6rem;
  height: 41.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 9rem;

  @include respond(t1000) {
    flex-direction: column;
    height: auto;
    margin: 0 1.6rem;
  }
}
