.hamburger {
  width: 4rem;
  height: 3.5rem;
  border: 0;
  border-top: .6rem solid $color-tertiary;
  position: relative;
  background: transparent;
  transition: 0.2s border-color linear;
  cursor: pointer;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: .6rem solid $color-tertiary;
    transform: translateY(1rem);
    transition: 0.2s transform linear;
  }
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: .6rem solid $color-tertiary;
    transform: translateY(2.5rem);
    transition: 0.2s transform linear;
  }

  &.clicked {
    border: transparent;
  }

  &.clicked::before {
    border-color: $color-tertiary;
    transform: translateY(15px) rotate(45deg);
  }

  &.clicked::after {
    border-color: $color-tertiary;
    transform: translateY(15px) rotate(-45deg);
  }
}
