.swiper-logobar {
    height: 7.7rem;
    width: 100%;
    display: flex;
    overflow: hidden;

    .slider-positioner{
      display: flex;
      justify-content: space-around;
      height: 100%;
      align-items: center;
    }
  }
  

