//BASE

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: $color-primary;
}

.containter{
    margin: 0 auto; 
    max-width: 100%;
    background-color: red;
    min-height: 80rem;
}