::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(t1800) {
    font-size: 62.5%;
  }

  @include respond(t1600) { 
    font-size: 56.25%;
  }

  @include respond(t1400) {
    font-size: 50%;
  }

  @include respond(t1000) {
    font-size: 43.75%;
  }

  @include respond(t500) {
    font-size: 37.5%;
  }
}

body {
  margin: 0 auto;
  max-width: 192rem;
  background-color: $color-primary;
  box-sizing: border-box;
}

a:visited,
a:link {
  text-decoration: none;
  color: $color-secondary;
}
