.nav {
  &__menu-toggle-button {
    display: none;
    margin: 2.5rem auto;
    position: fixed;
    top: 3rem;
    left: 4.6rem;
    z-index: 15;

    @include respond(t1000) {
      display: flex;
    }
  }

  @include respond(t1200) {
    padding: 0 5rem;
  }

  @include respond(t1000) {
    height: 0;
    flex-direction: column;

    &__menu-toggle-button.clicked ~ &__website-menu,
    &__menu-toggle-button.clicked ~ &__user-menu {
      display: flex;

      z-index: 15;
      height: auto;
      flex-direction: column;
    }
  }
  &__logo {
    margin-right: 4rem;

    @include respond(t1000) {
      display: none;
    }
  }

  &__website-menu,
  &__user-menu {
    display: flex;
    align-items: center;

    @include respond(t1000) {
      display: none;
    }
  }

  &__user-menu > * {
    display: flex;
    flex-direction: column;
  }

  &__link {
    box-sizing: border-box;
    height: 5.4rem;
    margin: 0 0.2rem;
    padding: 1rem 2.45rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    transition: all 0.3s;

    img {
      filter: invert(0);
      transition: all 0.3s;
    }

    @include respond(t1000) {
      padding: 2rem auto;
      justify-content: center;
      margin: 0.5rem 0;
      font-size: 16px;
      height: auto;
    }
  }

  &__link:hover {
    background-color: $color-tertiary;
    color: $color-primary;
    fill: $color-primary;

    img {
      filter: invert(1);
    }

    @include respond(t1000) {
      box-shadow: 0px 14px 22px 3px rgba($color-secondary, 0.4);
      transform: translateY(-3px) scale(1.1);
    }
  }

  .active {
    background-color: $color-tertiary;
    color: $color-primary;
    fill: $color-primary;

    img {
      filter: invert(1);
    }
  }
}

@include respond(t1000) {
  .nav.open-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    color: $color-primary;
    background-color: $color-primary;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
  }
}
.advertisements {
  .ad {
    position: relative;
    display: flex;
    align-self: stretch;
    border-radius: 0.7rem;
    flex: 0 1 50%;
    flex-direction: column;
    padding: 8rem 12.5rem;
    overflow: hidden;

    @include respond(t1200) {
      padding: 0;
      justify-content: center;
      align-items: center;
    }

    @include respond(t1000) {
      padding: 5rem 0;
    }

    & > * {
      z-index: 2;
    }

    &__bigparagraph {
      font-weight: 700;
      font-style: normal;
      font-size: 3.5rem;
      color: $color-primary;
      line-height: 32px;
    }

    &__paragraph {
      width: 32.4rem;
      line-height: 32px;
      margin-top: 2.9rem;
      font-style: normal;
      font-weight: 400;
      font-size: 2rem;
      color: $color-primary;

      @include respond(t1200) {
        text-align: center;
      }
    }

    &_icon-links {
      margin-top: 1.4rem;
      display: flex;

      & > a {
        width: 2.7rem;
        margin-right: 14px;
        transition: all 0.3s;
      }

      & > a:hover {
        transform: translateY(-0.3rem) scale(1.1);
      }
    }

    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      object-fit: cover;
    }

    &__extra-background-image {
      position: absolute;
      bottom: 0;
      right: 11.6rem;

      @include respond(t1800) {
        right: 3rem;
        transform: scale(0.9);
        bottom: -10%;
      }

      @include respond(t1600) {
        right: -2rem;
        transform: scale(0.9);
        bottom: -10%;
      }

      @include respond(t1400) {
        right: -3rem;
        transform: scale(0.7);
        bottom: -30%;
      }

      @include respond(t1200) {
        display: none;
      }
    }
  }

  .ad:first-child {
    margin-right: 1.6rem;
    @include respond(t1000) {
      margin-right: 0rem;
    }
  }

  @include respond(t1000) {
    .ad:not(:first-child) {
      margin-top: 1.6rem;
    }
  }

  .bg1::after {
    content: "";
    background-image: linear-gradient(90deg, $color-secondary 1.82%, rgba($color-secondary, 0.0001) 99.07%);
    mix-blend-mode: normal;
    opacity: 0.5;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .bg2 {
    background-color: $color-secondary;
  }
}
